body {
    background-color: black;
    color: #39FF14;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #39FF14;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

input[type="text"], input[type="date"], select {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: #39FF14;
    border: 1px solid #39FF14;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #39FF14;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #32CD32;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #39FF14;
}

.timestamp {
    margin-top: 20px;
    font-size: 12px;
    color: #39FF14;
    font-weight: bold;
}
